html,
body {
  height: 100%;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #353a3e;
  color: #f8f9fa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.landing {
  background: url(../images/MAXTEN-Dark.jpg) no-repeat center center;
  background-size: contain;
  height: 256px;
  width: 256px;
  text-indent: -99999px;
  margin: auto;
}
